= content_for :title, "Sign Up"
%h2 
  %center Sign Up

.row
  .large-6.small-centered.columns
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

      = devise_error_messages!
      
      %fieldset
        %legend Sign Up

        .field
          = f.label :email 
          = f.email_field :email, autofocus: true 

        .field
          = f.label 'First Name' 
          = f.text_field :firstname 

        .field
          = f.label 'Last Name' 
          = f.text_field :lastname  

        .field
          = f.label :phone 
          = f.text_field :phone   

        .field
          = f.label :password 
          = f.password_field :password, autocomplete: "off" 

        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off"

        .actions
          = f.submit "Sign up", class: 'button expand' 

    = render "devise/shared/links" 
