!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http:{ equiv: 'Content-Type' } }
  %head
  %body
    %h3= "Hi, #{@user.firstname} #{@user.lastname}!"
    %p Your Order has been confirmed!
    %table{style: "width: 500px;"}
      %tbody
        %tr 
          %td Status
          %td 
            = @order.status.capitalize    
        %tr 
          %td Client
          %td 
            = @order.client.firstname
            = @order.client.lastname 
        %tr 
          %td Driver
          %td 
            = @order.driver.firstname
            = @order.driver.lastname      
        %tr 
          %td Departure
          %td    
            = @order.departure
        %tr 
          %td Destination
          %td  
            = @order.destination    
        %tr 
          %td Date & Time    
          %td 
            = @order.datetime
        %tr 
          %td Car Type     
          %td
            = @order.car_type.capitalize 
    %p 
      To see details, just follow this link: 
      = link_to @url, @url