= content_for :title, "#{user.firstname} #{user.lastname}"
.row
  .small-6.small-centered.columns
    - if can? :assign_driver, Order 
      %br
      = link_to "Previous Page", session.delete(:return_to)
      %br
      %nav.breadcrumbs
        = link_to "Drivers", drivers_path
        = link_to "Driver #{user.id}", driver_path(user), class: 'current'
    %center
      %h2= "#{user.firstname} #{user.lastname}"
      %table{style: "width: 100%"}
        %tbody
          %tr 
            %td ID
            %td 
              = user.id
          %tr 
            %td Status
            %td 
              = user.free? ? "Free" : "Busy"
          %tr 
            %td Rating
            %td 
              = user.rating     
          %tr 
            %td Name 
            %td 
              = user.firstname
              = user.lastname     
          %tr 
            %td Phone
            %td 
              = user.phone  
          %tr 
            %td E-mail
            %td 
              = user.email
          %tr 
            %td Car Type
            %td
              = user.car_type.capitalize
          %tr 
            %td Orders
            %td
              = user.driver_orders.count

      - if can? :assign_driver, Order 

        = link_to "Orders", "#", class: "button tiny round success show_orders"
        #orders_table
          %table{ style: "width: 100%" }
            %thead
              %tr
                %th Info
                %th Driver
                %th Date & Time
                %th Status

            %tbody    
              - user.driver_orders.each do |driver_order|
                %tr
                  %td
                    = link_to "Show", order_path(driver_order), class: "button tiny round info show_order", role: 'button'
                  %td   
                    = driver_order.id
                  %td   
                    = driver_order.datetime 
                  %td
                    = driver_order.status.capitalize

    %center
      = link_to "Edit Profile", edit_user_registration_path, class: "button tiny round secondary"                 