#add-email
  %h2 
    %center 
      Finish Sign Up
      %p Please confirm your email address and phone!
  .row
    .small-6.small-centered.columns
      = simple_form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| 
        - if @show_errors && current_user.errors.any? 
          #error_explanation
            - current_user.errors.full_messages.each do |msg| 
              = msg 
              %br  
        %fieldset
          %legend Finish Sign Up      
          = f.label :email 
          = f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@example.com'
          = f.error :email

          = f.label :phone
          = f.text_field :phone, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: 937-99-92'
          = f.error :phone

          = f.submit 'Continue', :class => 'btn btn-primary', class: 'button expand' 
