%table
  %thead
    %tr
      %th Info  
      %th Order
      %th Departure
      %th Destination
      %th Car Type
      %th Status 
  %tbody{ id: "dispatcher_table" }
    - orders.each do |order|
      %tr{ class: "order_#{order.id}" }
        %td{ class: "show_button" } 
          = button_to "Show", order_path(order), method: :get, class: "button tiny round info"
        %td.order_id  
          = order.id  
        %td.departure 
          = order.departure
        %td.destination 
          = order.destination
        %td.car_type
          = order.car_type.capitalize 
        %td.status
          %b
            = order.status.capitalize  
