.row
  .small-6.small-centered.columns
    %center
      %h3 Feedback
    .panel.radius.callout
      - if can? :destroy_feedback, Order
        .destroy_feedback{ style: 'position:absolute;left:90%;' }
          = link_to destroy_feedback_order_path(order), method: :put, remote: true do
            %i.fi-x
      %h5.feedback_rating
        Rating:
        %b
          = order.rating
      - if order.feedback?        
        %blockquote 
          = sanitize(simple_format(order.feedback.strip))  
          %cite= "#{order.client.firstname} #{order.client.lastname}"

      