= content_for :title, "Assign Driver"
%br
  .row
    .small-6.small-centered.columns
      = simple_form_for :order, url: {action: "assign_driver"}, html: { method: :put } do |f|
        = f.hidden_field :status, value: 'pending'
        = f.select(:driver_id, @drivers.map { |d| [d.firstname + ' ' + d.lastname, d.id]  })
        = f.submit "Assign Driver", class: 'button tiny'