%center  
  %h2
    Orders
  %br
  %table
    %thead
      %tr
        %th Order Id
        %th Client Name
        %th Status
        %th Departure
        %th Destination
        %th Cost
        %th Date & Time
        %th Car Type
        - if can? :assign_driver, Order
          %th Driver Name
          %th Assign Driver 
        - elsif can? :confirm, Order 
          %th Confirm Order
          %th Edit Order  
    %tbody
      - @orders.each do |order|
        %tr
          %td 
            = order.id
          %td 
            = order.client.firstname
            = order.client.lastname  
          %td 
            = order.status
          %td 
            = order.departure
          %td 
            = order.destination
          %td 
            = order.cost
          %td 
            = order.datetime
          %td
            = order.car_type 
          - if can? :assign_driver, Order   
            %td 
              - if order.driver
                = order.driver.firstname
                = order.driver.lastname
            %td    
              = button_to "Assign Driver", order_edit_driver_path(order), method: :get, class: "button tiny round"
          - elsif can? :confirm, Order 
            %td 
              = button_to "Confirm Order", "#", method: :get, class: "button tiny round success"
            %td 
              = button_to "Edit Order", "#", method: :get, class: "button tiny round alert"    