%center  
  %h2
    Orders
  %br
  %table
    %thead
      %tr
        %th Order Id
        %th Client Name
        %th Status
        %th Departure
        %th Destination
        %th Cost
        %th Date & Time
        %th Car Type
        %th Driver Name
    %tbody
      - @orders.each do |order|
        %tr
          %td 
            = order.id
          %td 
            = order.client.firstname
            = order.client.lastname  
          %td 
            = order.status
          %td 
            = order.departure
          %td 
            = order.destination
          %td 
            = order.cost
          %td 
            = order.datetime
          %td
            = order.car_type  
          %td 
            - if order.driver
              = order.driver.firstname
              = order.driver.lastname 