= content_for :title, "Order № #{@order.id}"
%center
  %h2
    Order №
    = @order.id
  %table{style: "width: 500px;"}
    %tbody
      %tr 
        %td Status
        %td{ id: "order_#{@order.id}_status" } 
          = @order.status.capitalize 
      %tr 
        %td Created 
        %td 
          = @order.created_at     
      %tr 
        %td Client
        %td 
          = @order.client.firstname
          = @order.client.lastname          
      %tr 
        %td Driver
        %td{ id: "order_#{@order.id}_driver" }
          - if @order.driver
            = @order.driver.firstname
            = @order.driver.lastname 
      %tr 
        %td Departure
        %td    
          = @order.departure
      %tr 
        %td Destination
        %td  
          = @order.destination     
      %tr 
        %td Cost     
        %td 
          = @order.cost
      %tr 
        %td Date & Time    
        %td 
          = @order.datetime
      %tr 
        %td Car Type     
        %td
          = @order.car_type.capitalize 

%center
  - if can? :assign_driver, Order   
    - unless @order.closed? || @order.confirmed?   
      %div{ id: "order_#{@order.id}_assign_driver" } 
        - if !@order.driver
          .row
            .large-6.small-centered.columns
              %fieldset
                %legend Assign Driver
                = form_for :order, url: {action: "assign_driver"}, html: { method: :put }, remote: true do |f|
                  = f.hidden_field :status, value: 'pending'
                  = f.select(:driver_id, @drivers.map { |d| [d.firstname + ' ' + d.lastname, d.id]  })
                  = f.submit "Assign Driver", class: 'button tiny round'
      %div{ id: "order_#{@order.id}_accept_changes" } 
        - if @order.edited? 
          = button_to "Accept changes", accept_changes_order_path(@order), method: :put, class: "button tiny round success", remote: true     
      %div{ id: "order_#{@order.id}_reject" } 
        - unless @order.rejected? 
          = button_to "Reject Order", reject_order_path(@order), method: :put, class: "button tiny round alert", remote: true  

  - elsif can? :confirm, Order 
    %div{ id: "order_#{@order.id}_add_driver" }  
      - if @order.pending?
        = button_to "Confirm Order", confirm_order_path(@order), method: :put, class: "button tiny round alert", remote: true
      - if @order.confirmed?  
        = button_to "Close Order", close_order_path(@order), method: :put, class: "button tiny round success", remote: true
    %div
      = button_to "Edit Order", edit_order_path(@order), method: :get, class: "button tiny round secondary"




- if @order.feedback
  .row
    .large-6.small-centered.columns
      %center
        %h2 Feedback
      .panel.radius
        %h4
          =@order.rating
        = @order.feedback        
- else
  -if @order.closed? && can?(:add_feedback, Order)
    .row
      .large-6.small-centered.columns
        = form_for @order, url: {action: "add_feedback"}, html: { method: :put } do |f|
          %fieldset
            %legend Add Feedback

            = f.label "Feedback"
            = f.text_area :feedback

            = f.label "Rating"
            = f.select :rating, (1..10).to_a

            = f.submit "Add Feedback", class: 'button expand'        