%br
  - if !user_signed_in?
    %center
      %h3 Hi! Please, Log In or Sign Up.
      %ul{ class: "button-group round" }
        %li
          = link_to "Log In", new_user_session_path, class: "button success"
        %li  
          = link_to "Sign Up", new_user_registration_path, class: "button"
  - elsif can? :manage, :all
    %center
      %h2 Login as admin
      = button_to "Administration", rails_admin_path, method: :get, class: "button radius success"

  - elsif can? :assign_driver, Order
    %center
      %h2 Login as dispatcher
      = button_to "Orders", orders_path, method: :get, class: "button radius success"  

  - elsif can? :confirm, Order
    %center
      %h2 Login as driver
      = button_to "My Orders", orders_path, method: :get, class: "button radius success"

  - elsif can? :create, Order
    %center
      %h2 Login as client
      = button_to "New Order", "#", method: :get, class: "button radius success", id: 'show_main_form'  
    .large-6.small-centered.columns{ id: 'main_form' }
      = form_for :order, url: {action: "create", controller: "orders"} do |f|
        %fieldset
          %legend Order information

          = f.hidden_field :status, value: 'pending'

          = render partial: 'orders/form', locals: { f: f }

          = f.submit "Create Order", class: 'button expand' 
