%br
  - if !user_signed_in?
    %center
      %h3 Hi! Please, Sign In or Sign Up.
      %ul{ class: "button-group round" }
        %li
          = link_to "Sign In", new_user_session_path, class: "button success"
        %li  
          = link_to "Sign Up", new_user_registration_path, class: "button"
  - elsif can? :manage, :all
    %center
      %h2 Login as admin
      = link_to "Administration", rails_admin_path, class: "button radius success"

  - elsif can? :assign_driver, Order
    %center
      %h2= "Hi, #{current_user.firstname} #{current_user.lastname}!"
      %ul.button-group
        %li
          = link_to "Orders", orders_path, class: "button radius success"
        %li
          = link_to "Drivers", drivers_path, class: "button radius success"  

  - elsif can? :confirm, Order
    %center
      %h2= "Hi, #{current_user.firstname} #{current_user.lastname}!"
      = link_to "My Orders", orders_path, class: "button radius success"

  - elsif can? :create, Order
    %center
      %h2= "Hi, #{current_user.firstname} #{current_user.lastname}!"
      = link_to "New Order", "#", class: "button radius success", id: 'show_main_form'  
    .small-6.small-centered.columns{ id: 'main_form' }
      = simple_form_for :order, url: {action: "create", controller: "orders"} do |f|
        %fieldset
          %legend Order information

          = f.hidden_field :status, value: 'opened'

          = render partial: 'orders/form', locals: { f: f }

          = f.submit "Create Order", class: 'button expand' 
  - elsif !current_user.role
    %center
      %h2= "Hi, #{current_user.firstname} #{current_user.lastname}!"
      %p Please confirm your email address and phone!
      = link_to "Confirm email", finish_signup_path(current_user), class: "button radius success"
              
