%nav.top-bar{ "data-topbar" => '', role: "navigation"}
  %ul.title-area
    %li.name
      %h1 
        = link_to "Sloboda Taxi", root_path
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    %li.toggle-topbar.menu-icon <a href="#"><span>Menu</span></a>

  %section.top-bar-section
    <!-- Right Nav Section -->
    %ul.right
      - if user_signed_in?
        %li.has-dropdown
          = link_to "javascript:void(0)" do 
            - if current_user.has_identity?(:facebook)
              = image_tag :facebook_top, size: "20x20"
            - elsif current_user.has_identity?(:twitter) 
              = image_tag :twitter_top, size: "20x20" 
            - elsif current_user.has_identity?(:vkontakte) 
              = image_tag :vkontakte_top, size: "20x20"  
            - else
              = image_tag :email_top, size: "20x20"   
            = "#{current_user.firstname} #{current_user.lastname}"
          %ul.dropdown
            %li
              = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', data: { confirm: 'Are you sure to Logout?'}
      - else   
        %li.has-dropdown
          = link_to "Anonymous", "javascript:void(0)"
          %ul.dropdown
            %li
              = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
            %li
              = link_to "Sign in", new_user_session_path, :class => 'navbar-link'

    <!-- Left Nav Section -->
    %ul.left
      - if can? :manage, :all
        %li
          = link_to "Administration", rails_admin_path
      - elsif can? :assign_driver, Order  
        %li  
          = link_to "Orders", orders_path
        %li  
          = link_to "Drivers", drivers_path  
      - elsif can? :confirm, Order  
        %li
          = link_to "Profile", driver_path(current_user)   
      - elsif can? :create, Order  
        %li
          = link_to "New Order", new_order_path 
        %li
          = link_to "Profile", client_path(current_user)        
      
