%nav.top-bar{ "data-topbar" => '', role: "navigation"}
  %ul.title-area
    %li.name
      %h1 
        = link_to "Sloboda Taxi", root_path
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    %li.toggle-topbar.menu-icon <a href="#"><span>Menu</span></a>

  %section.top-bar-section
    <!-- Right Nav Section -->
    %ul.right
      - if user_signed_in?
        %li.has-dropdown
          = link_to current_user.email, '#'
          %ul.dropdown
            %li
              = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', data: { confirm: 'Are you sure to Logout?'}
      - else   
        %li.has-dropdown
          = link_to "User", "#"
          %ul.dropdown
            %li
              = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
            %li
              = link_to "Login", new_user_session_path, :class => 'navbar-link'

    <!-- Left Nav Section -->
    %ul.left
      %li
        = link_to "LEFT", "#"